@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --color-primary: #F07C3D;
  --color-primary-foreground: #ffffff;
  --color-secondary: #0489A9;
  --color-secondary-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);
  --font-heading: var(--font-poppins), sans-serif;
  --font-menu: var(--font-be-vietnam-pro), sans-serif;
  --font-body: var(--font-montserrat), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
